<div class="atf">
    <div class="test">
        <div class="picture-container" data-aos="fade-up"
        data-aos-anchor-placement="top-center" data-aos-duration="1500">
            <img src="../../../assets/img/hero character photo.png" alt="">
        </div>
        <div class="head-container">
            <div class="text-container">
                <div class="vertikal">I am</div>
                <div>
                    <div class="name">Cecil Cigan</div>
                    <div class="title">FRONTEND DEVELOPER</div>
                </div>
            </div>
            <div class="flex">
                <a href="#" class="main-button">{{'atf.talk' | translate}}</a>
            </div>
        </div>
        
            <img class="curved-background-container" src="../../../assets/img/Vector.png" alt="">
            
        
        <div class="shadows-container">
            <img class="shadow-dots" src="../../../assets/img/photo shadows.png" alt="">
        </div>
    </div>
    <div class="bottom-container">
        <div class="social-links-container">
            <span class="divider-line"></span>
            <span>
                <a href="">
                    <img src="../../../assets/img/git-icon.svg" alt="">
                </a>
            </span>
            <span>
                <a href="">
                    <img src="../../../assets/img/mail-icon.svg" alt="">
                </a>
            </span>
            <span>
                <a href="">
                    <img src="../../../assets/img/linkedIn-icon.svg" alt="">
                </a>
            </span>
            <span>
                <a href="">
                    testgmx.at
                </a>
            </span>
        </div>
        <div class="scroll-container">
            <span>
                {{"atf.scroll" | translate}}
                <img src="../../../assets/img/downArrow-icon.svg" alt="">
            </span>
        </div>
    </div>
</div>