@import "../styles.scss";

app-header {
  position: sticky;
  top: 0;
  background-color: $background-color;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: center;
}


app-footer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  border-top: 4px solid #70e61c;
}

app-imprint {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1440px;
}

router-outlet {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}


