<div class="privacy-container">
  <h1>{{ "privacy.headline" | translate }}</h1>
  <p>{{ "privacy.generalText1" | translate }}</p>
  <h2>{{ "privacy.contactUs" | translate }}</h2>
  <p>{{ "privacy.contactText" | translate }}</p>
  <h2>{{ "privacy.fontsHeadline" | translate }}</h2>
  <p>{{ "privacy.fontsText1" | translate }}</p>
  <ul>
    <li>{{ "privacy.fontsText2" | translate }}</li>
  </ul>
  <p>{{ "privacy.fontsPhone" | translate }}</p>
  <p>{{ "privacy.fontsText3" | translate }}</p>
  <p>{{ "privacy.fontsText4" | translate }}</p>
  <p>{{ "privacy.fontsText5" | translate }}</p>
  <ul>
    <li>
      <a href="https://developers.google.com/fonts/faq">{{
        "privacy.fontsLink1" | translate
      }}</a>
    </li>
  </ul>
  <p>{{ "privacy.fontsText6" | translate }}</p>
  <ul>
    <li>
      <a href="https://policies.google.com/privacy?hl=de">{{
        "privacy.fontsLink2" | translate
      }}</a>
    </li>
  </ul>
  <p>{{ "privacy.fontsText6" | translate }}</p>
  <p>
    <a href="https://www.privacyshield.gov/EU-US-Framework">{{
      "privacy.fontsLink3" | translate
    }}</a>
  </p>
  <h2>{{ "privacy.rightsHeadline" | translate }}</h2>
  <p>{{ "privacy.rightsText1" | translate }}</p>
  <ul>
    <li>{{ "privacy.rightsList1" | translate }}</li>
    <li>{{ "privacy.rightsList2" | translate }}</li>
    <li>{{ "privacy.rightsList3" | translate }}</li>
    <li>{{ "privacy.rightsList4" | translate }}</li>
    <li>{{ "privacy.rightsList5" | translate }}</li>
    <li>{{ "privacy.rightsList6" | translate }}</li>
  </ul>
  <p>{{ "privacy.rightsText2" | translate }}</p>
  <h2>{{ "privacy.contactHeadline" | translate }}</h2>
  <p><b>{{ "privacy.nameTitle" | translate }}</b>{{ "privacy.name" | translate }}</p>
  <p><b>{{ "privacy.phoneTitle" | translate }}</b>{{ "privacy.phone" | translate }}</p>
  <p><b>{{ "privacy.emailTitle" | translate }}</b>{{ "privacy.email" | translate }}</p>
  <p>{{ "privacy.source" | translate }} <b><a href="https://www.fairesrecht.at/kostenlos-datenschutzerklaerung-erstellen-generator.php">{{ "privacy.sourceLink" | translate }}</a></b></p>
</div>
