@import './../../styles.scss';




app-atf {
    width: 100%;
    overflow: hidden;

    @media (max-width: 1440px) {
        width: 100%;
      }

}

app-header {
    position: sticky;
    top: 0;
    background-color: $background-color;
    z-index: 99;
    width: 100%;
}

app-about-me {
    position: relative;
    display: flex;
    width: 1440px;
    margin-top: -30px;
    z-index: 50;

    @media (max-width: 1440px) {
        width: 100%;
      }

      
}

app-my-skills {
    display: flex;
    width: 1440px;

    @media (max-width: 1440px) {
        width: 100%;
      }

      @media (max-width: 1220px) {
        flex-direction: column;
      }
    
}

app-portfolio {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    position: relative;
    

    @media (max-width: 1000px) {
        align-items: center;
    }
}

app-contact {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    max-width: 1440px;
}

app-footer {
    max-width: 1440px;


}