@import './../../styles.scss';

app-atf {
    overflow: hidden;
}

app-header {
    position: sticky;
    top: 0;
    background-color: $background-color;
    z-index: 99;
}

about-me {
    //width: 1440px;
    margin-top: -30px;
    //z-index: 50;
}


