@import './../../styles.scss';

app-atf {
    overflow: hidden;
}

app-header {
    position: sticky;
    top: 0;
    background-color: $background-color;
    z-index: 99;
}

app-about-me {
    position: relative;
    display: flex;
    width: 1440px;
    margin-top: -30px;
    z-index: 50;
}

app-my-skills {
    display: flex;
    width: 1440px;
}

app-portfolio {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    position: relative;
    //z-index: 1;
}

app-contact {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    max-width: 1440px;
}

app-footer {
    max-width: 1440px;
    
    
}




