<div class="footer-container">
    <div class="main">
        <h1>Cecil</h1>
        <span>
            <span>&copy;</span> Cecil Cigan 2024
        </span>
        <div class="icon-container">
            <a href=""><img src="./../../../../assets/img/git-icon.svg" alt=""></a>
            <a href=""><img src="./../../../../assets/img/mail-icon.svg" alt=""></a>
            <a href=""><img src="./../../../../assets/img/linkedIn-icon.svg" alt=""></a> 
        </div>
    </div>
    <a href="">Impressum</a>
    <span class="underline"></span>
</div>
