<div class="about-me-container">
    <img class="purple-shadow" src="../../../assets/img/Purple shadow 2.svg" alt="">
    <div class="text-container">
        <div>
            <h1>About me</h1>
        </div>
        <div class="description">
            <p>
                Hi, Iam a Front-end developer based in Bad Blumau,Austria(...)
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta quos officiis, unde nobis tempora,
                deleniti veritatis autem est laboriosam voluptatum dolore accusantium corrupti explicabo cum hic.
                Eligendi nihil ipsam assumenda.
            </p>
        </div>
        <div  class="personal-details">
            <div>
                <img src="../../../assets/img/light_bulb.svg" alt="">
            </div>
            <div>
                Some personal thing to share(...) Donec ut imprediet diam,
                et convallis newue.Cass apten taciti sociosq ad litara torquent per
                conubia nostra, per inceptos himendeos.
            </div>
        </div>
        <div class="personal-details">
            <div>
                <img src="../../../assets/img/puzzle.svg" alt="">
            </div>
            <div>
                Some personal thing to share(...) Donec ut imprediet diam,
                et convallis newue.Cass apten taciti sociosq ad litara torquent per
                conubia nostra, per inceptos himendeos.
            </div>
        </div>
    </div>
    <div class="picture-container">
        
        <img src="../../../assets/img/Group 9.png" alt="">
        <div>
            <hr>
        </div>
    </div>
</div>