<div class="about-me-container">
  <img
    class="purple-shadow"
    src="../../../assets/img/Purple shadow 2.svg"
    alt=""
  />
  <div class="text-container">
    <div>
      <h1 data-aos="fade-right">{{ "about-me.headline" | translate }}</h1>
    </div>
    <div class="description">
      <p>
        {{ "about-me.welcome" | translate }}
      </p>
    </div>
    <div class="personal-details">
      <div>
        <img src="../../../assets/img/light_bulb.svg" alt="" />
      </div>
      <div>
        {{ "about-me.firstText" | translate }}
      </div>
    </div>
    <div class="personal-details">
      <div>
        <img src="../../../assets/img/puzzle.svg" alt="" />
      </div>
      <div>
        {{ "about-me.secondText" | translate }}
      </div>
    </div>
  </div>
  <div class="picture-container">
    <img src="../../../assets/img/Group 9.png" alt="" />
    <div>
      <hr />
    </div>
  </div>
</div>
