@import "./../../../styles.scss";

.about-me-container {
  margin-top: -32px;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-left: 100px;
  gap: 149px;
  padding-bottom: 154px;
  background-color: transparent;

  @media (max-width: 1440px) {
    width: 100%;
  }

  @media (max-width: 1220px) {
    justify-content: space-between;
    gap: 0;
  }

  @media (max-width: 1100px) {
    padding-left: 25px;
  }

  @media (max-width: 1000px) {
    justify-content: center;
  }

  @media (max-width: 530px) {
    padding: 0px 28px;
    padding-bottom: 145px;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  max-width: 471px;
  gap: 35px;

  @media (max-width: 530px) {
    p {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

h1 {
  font-size: 90px;
  font-weight: 700;
  background-color: transparent;
  text-wrap: nowrap;

  @media (max-width: 1220px) {
    font-size: 72px;
  }

  @media (max-width: 580px) {
    font-size: 45px;
  }

  @media (max-width: 420px) {
    font-size: 36px;
  }
}

.picture-container {
  display: flex;
  align-items: center;
  height: 509px;
  width: 509px;

  img {
    height: 453px;
    width: 453px;
  }

  hr {
    position: absolute;
    display: flex;
    width: 267px;
    height: 4px;
    background-color: $hover-link-color;
    border: none;
    z-index: 6;
  }

  @media (max-width: 1000px) {
    display: none;
  }
}

.personal-details {
  display: flex;
  gap: 35px;
  font-size: 16px;
  font-weight: 400;

  img {
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.purple-shadow {
  position: absolute;
  top: -223px;
  right: -211px;
  z-index: 4;

  @media (max-width: 1440px) {
    right: -115px;
    z-index: -1;
  }

  @media(max-width: 540px) {
    display: none;
  }
}
