<section class="imprint-container">

    <div>
        <h4>Impressum</h4>
        <p><b>{{'imprint.info' | translate}}</b></p>
        <p><b>{{'imprint.operator' | translate}}:</b> Cecil Cigan</p>
        <p><b>{{'imprint.adress' | translate}}:</b> Kleinsteinbach 5, 8283 Bad Blumau</p>
        <p><b>{{'imprint.vat' | translate}}:</b> <br> <b>{{'imprint.trade' | translate}}:</b> <br> <b>{{'imprint.member' | translate}}:</b></p>
        <p><b>{{'imprint.contact' | translate}}:</b> <br> {{'imprint.phone' | translate}}: <br> {{'imprint.mail' | translate}}: c.cigan&#64;gmx.net</p>
        <p><b>{{'imprint.regulation' | translate}}:</b> www.ris.bka.gv.at <br> <b>{{'imprint.title' | translate}}:</b> </p>
        <p><b>{{'imprint.dispute' | translate}}: </b>{{'imprint.dispute-text' | translate}}</p>
        <p><b>{{'imprint.copyright' | translate}}:</b> {{'imprint.copyright-text' | translate}}.</p>
        <p><b>{{'imprint.disclaimer' | translate}}: </b>{{'imprint.disclaimer-text' | translate}}.<br>{{'imprint.disclaimer-secondText' | translate}}.</p>
        <p>{{'imprint.source' | translate}}: <b><a href="https://www.fairesrecht.at/">fairesRecht.at</a></b></p>
    </div>
