@import "./../about-me/about-me.component.scss";
@import "./../../../styles.scss";

.center-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flex-1 {
  flex: 1;

  @media (max-width: 1000px) {
    display: none;
  }
}

.headline {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-bottom: 85px;
  width: 1440px;
  padding-left: 50px;

  @media (max-width: 1000px) {
    justify-content: center;
    padding-left: 0px;
  }

  @media (max-width: 580px) {
    gap: 5px;
  }
}

.line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: $purple-background-color;
  margin-top: 63px;
  min-width: 50px;

  @media (max-width: 1200px) {
    margin-top: 53px;
  }

  @media (max-width: 580px) {
    width: 20px;
  }
}

.main-container-contact {
  display: flex;
  justify-content: space-between;
  padding-bottom: 51px;
  width: 1440px;

  @media (max-width: 1440px) {
    width: 100%;
  }

  @media (max-width: 1540px) {
    justify-content: space-around;
  }

  @media (max-width: 1000px) {
    align-items: center;
  }

  .text-container {
    @media (max-width: 1440px) {
      padding-left: 100px;

      @media (max-width: 1000px) {
        max-width: 617px;
        padding-left: 0;
      }
      @media (max-width: 680px) {
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    @media (max-width: 1000px) {
      padding-bottom: 45px;
      align-items: center;
    }
  }

  .text-container span {
    font-weight: 700;
  }

  h3 {
    font-size: 32px;
    text-wrap: nowrap;

    @media (max-width: 450px) {
      font-size: 23px;
    }

    @media (max-width: 400px) {
      font-size: 18px;
    }
  }

  @media (max-width: 1220px) {
    position: relative;
    padding: 0px 25px;
  }

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 617px;

  @media (max-width: 1440px) {
    padding-right: 100px;
  }

  @media (max-width: 1000px) {
    padding-right: 0;
  }

  @media (max-width: 680px) {
    padding: 0 25px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .input-container {
    position: relative;
  }

  input {
    position: relative;
    box-sizing: border-box;
    background-color: $background-color;
    border: solid 1px $purple-background-color;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    color: white;
    font-family: "Poppins";
    width: 100%;
    z-index: 1;

    &:hover {
      border: solid 1px $hover-link-color;
    }

    &:focus {
      outline: none;
      border: solid 1px $hover-link-color;
    }
  }

  ::placeholder {
    color: white;
  }

  textarea {
    box-sizing: border-box;
    background-color: $background-color;
    border: solid 1px $purple-background-color;
    border-radius: 10px;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
    font-family: "Poppins";
    width: 100%;

    &:hover {
      border: solid 1px $hover-link-color;
    }

    &:focus {
      outline: none;
      border: solid 1px $hover-link-color;
    }
  }
}

.input-icon {
  position: absolute;
  top: 14px;
  right: 13px;
  z-index: 2;
}

.error-container {
  height: 32px;
}

.error-message {
  font-size: 14px;
  color: $error-color;
}

.input-error {
  border: solid 1px #e61c40 !important;
}

.input-valid {
  border: solid 1px #70e61c !important;
}

:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

input:-internal-autofill-previewed {
  font-family: "Poppins";
  background-color: rgb(232, 240, 254) !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

.police-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  width: 100%;
  display: flex;
  align-items: center;

  .checkbox {
    position: relative;
    margin-bottom: 0;
  }

  a {
    color: $purple-background-color;
  }

  p {
    font-size: 14px;
  }
}

.checkbox-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 24px;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 3px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
}

.checkbox input.custom-checkbox:hover + .checkmark {
  background-color: #797ef3;
  border-radius: 50%;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-button {
  background-color: #70e61c !important;
  max-width: 253px;
  padding: 15px 30px;
  border: none !important;

  &:hover {
    background-color: $purple-background-color !important;
    transition: all 100ms ease-in-out;
    transform: scale(1.1);
  }

  &:disabled {
    background-color: #b6b6b6 !important;
    cursor: unset !important;
    transform: none;
  }
}

.success-container {
  display: none;
  padding: 5px;
  color: #70e61c;
}

.success-animation {
  display: block;
}

.go-up-container {
  width: 1440px;
  height: 180px;
  position: relative;

  @media (max-width: 1440px) {
    width: 100%;
  }
}

.go-up-button {
  width: 39px;
  height: auto;
  display: flex;
  justify-content: flex-end;
  z-index: 99;
  padding-bottom: 90px;
  position: absolute;
  right: 0;

  @media (max-width: 1440px) {
    right: 139px;
  }


  @media (max-width: 1200px) {
    right: 100px;
  }


  &:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(87%) sepia(91%) saturate(671%)
      hue-rotate(33deg) brightness(93%) contrast(94%);
  }
}

.purple_shadow_2 {
  position: absolute;
  bottom: -270px;

  @media (max-width: 1000px) {
    bottom: -44px;
    width: 343px;
  }

  @media (max-width: 350px) {
    width: 100%;
  }
}
