<div class="center-container">
  <div class="flex-1">
    <img
      class="purple_shadow_2"
      src="../../../assets/img/purple_shadow 4.svg"
      alt=""
    />
    <span class="line"></span>
  </div>
  <div class="headline" data-aos="fade-right">
    
    <h1>{{ "contact.headline" | translate }}</h1>
  </div>
  <div class="flex-1"></div>
</div>
<div class="main-container-contact">
  <div class="text-container">
    <h3>{{ "contact.solve" | translate }}</h3>
    <p>{{ "contact.contactMe" | translate }}</p>
    <p>
      {{ "contact.need" | translate }}
      <span>{{ "contact.me" | translate }}</span>
    </p>
  </div>
  <div class="form-container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <div class="input-container">
        @if (name.valid) {
        <label for="name"
          ><img
            class="input-icon"
            src="./../../../assets/img/valid_icon.svg"
            alt=""
        /></label>
        } @else if(!name.valid && name.touched) {
        <label for="message"
          ><img
            class="input-icon"
            src="./../../../assets/img/invalid_icon.svg"
            alt=""
        /></label>
        }

        <input
          #name="ngModel"
          [(ngModel)]="contactData.name"
          type="text"
          id="fname"
          name="name"
          placeholder="{{ 'contact.inputName' | translate }}"
          required
          [ngClass]="{
            'input-error': !name.valid && (name.touched || name.dirty),
            'input-valid': name.valid && name.touched
          }"
        />
        <div class="error-container">
          @if (!name.valid && (name.touched || name.dirty) ) {
          <span class="error-message">{{
            "contact.inputNameErr" | translate
          }}</span>
          }
        </div>
      </div>
      <div class="input-container">
        @if (email.valid) {
        <label for="email"
          ><img
            class="input-icon"
            src="./../../../assets/img/valid_icon.svg"
            alt=""
        /></label>
        } @else if(!email.valid && email.touched) {
        <label for="message"
          ><img
            class="input-icon"
            src="./../../../assets/img/invalid_icon.svg"
            alt=""
        /></label>
        }
        <input
          #email="ngModel"
          [(ngModel)]="contactData.email"
          type="email"
          id="email"
          name="email"
          placeholder="{{ 'contact.inputMail' | translate }}"
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+.[a-zA-Z]{2,}"
          [ngClass]="{
            'input-error': !email.valid && (email.touched || email.dirty),
            'input-valid': email.valid && email.touched
          }"
        />
        <div class="error-container">
          @if (!email.valid && (email.touched || email.dirty) ) {
          <span class="error-message">{{
            "contact.inputMailErr" | translate
          }}</span>
          }
        </div>
      </div>
      <div class="input-container">
        @if (message.valid ) {
        <label for="message"
          ><img
            class="input-icon"
            src="./../../../assets/img/valid_icon.svg"
            alt=""
        /></label>
        } @else if(!message.valid && message.touched) {
        <label for="message"
          ><img
            class="input-icon"
            src="./../../../assets/img/invalid_icon.svg"
            alt=""
        /></label>
        }
        <textarea
          #message="ngModel"
          [(ngModel)]="contactData.message"
          id="subject"
          name="message"
          placeholder="{{ 'contact.textarea' | translate }}"
          style="height: 200px"
          required
          [ngClass]="{
            'input-error': !message.valid && (message.touched || message.dirty),
            'input-valid': message.valid && message.touched
          }"
        ></textarea>
        <div class="error-container">
          @if (!message.valid && (message.touched || message.dirty)) {
          <span class="error-message">{{
            "contact.textareaErr" | translate
          }}</span>
          }
        </div>
      </div>
      <div class="police-container">
        <div class="checkbox-container">
          <div class="checkbox">
            <input
              #privacy="ngModel"
              [(ngModel)]="contactData.privacy"
              name="check_box"
              id="checkbox"
              type="checkbox"
              class="custom-checkbox"
              [checked]="isChecked"
              (change)="toggleCheckbox($event)"
              required
            />
            @if (isChecked) {
            <span class="checkmark">
              <img src="../../../assets/img/check_box.svg" alt="" />
            </span>
            } @else {
            <span class="checkmark">
              <img
                src="../../../assets/img/check_box_outline_blank.svg"
                alt=""
              />
            </span>
            }
          </div>
          <p>
            {{ "contact.privacyPolice1" | translate }}
            <a href="privacy-policy"
              >{{ "contact.privacyPoliceLink" | translate }} </a
            >{{ "contact.privacyPolice2" | translate }}
          </p>
        </div>
        <div class="error-container">
          @if (!privacy.valid && privacy.touched) {
          <span class="error-message">{{
            "contact.privacyPoliceErr" | translate
          }}</span>
          }
        </div>
      </div>
      <div class="message-container">
        <input
          #sendButton
          type="submit"
          value="{{ 'contact.button' | translate }}"
          class="message-button"
          [disabled]="!contactForm.valid"
        />
        <!--<span [ngClass]="{ 'success-animation': emailSentSuccessfully }" class="success-container">{{ 'contact.successButton' | translate}} </span>-->
      </div>
    </form>
  </div>
</div>
<a class="go-up-button" href="#head">
  <img src="../../../assets/img/Go_up_button.svg" alt="" />
</a>
